
        <div class="row container">
            <div class="col-md-6">
                <fieldset class="p-2 field_set_modulo_evento borda_azul" style="border: 2px;">
                    <legend class="w-auto">Evento id: 562</legend>
                    <div class="row" style="margin-top: -15px;">
                        <div class="col-md-8">Patrícia Souza Duarte</div><div class="col-md-4">23/03/2020</div>
                        <div class="col-md-5">Tel.: (51)993101122</div><div class="col-md-5">Tel recado: (51)991625582</div>
                        <div class="col-md-12">Rua Equador, 165, esq. Av. Brasil, Capão da Canoa - RS</div>
                        <div class="col-md-12 row">
                            <div class="col-md-12">
                                Brinquedos:
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/cama_25.jpg" width="40px">
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/toboga_sem_fundo_de_lado.png" width="40px">                    
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/escorrega.png" width="40px">
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/gangorrinha.png" width="40px">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="p-2 field_set_modulo_evento borda_verde" style="border: 2px;">
                    <legend class="w-auto">Evento id: 562</legend>
                    <div class="row" style="margin-top: -15px;">
                        <div class="col-md-8">Patrícia Souza Duarte</div><div class="col-md-4">23/03/2020</div>
                        <div class="col-md-5">Tel.: (51)993101122</div><div class="col-md-5">Tel recado: (51)991625582</div>
                        <div class="col-md-12">Rua Equador, 165, esq. Av. Brasil, Capão da Canoa - RS</div>
                        <div class="col-md-12 row">
                            <div class="col-md-12">
                                Brinquedos:
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/cama_25.jpg" width="40px">
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/toboga_sem_fundo_de_lado.png" width="40px">                    
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/escorrega.png" width="40px">
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/gangorrinha.png" width="40px">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="p-2 field_set_modulo_evento borda_vermelha" style="border: 2px;">
                    <legend class="w-auto">Evento id: 562</legend>
                    <div class="row" style="margin-top: -15px;">
                        <div class="col-md-8">Patrícia Souza Duarte</div><div class="col-md-4">23/03/2020</div>
                        <div class="col-md-5">Tel.: (51)993101122</div><div class="col-md-5">Tel recado: (51)991625582</div>
                        <div class="col-md-12">Rua Equador, 165, esq. Av. Brasil, Capão da Canoa - RS</div>
                        <div class="col-md-12 row">
                            <div class="col-md-12">
                                Brinquedos:
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/cama_25.jpg" width="40px">
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/toboga_sem_fundo_de_lado.png" width="40px">                    
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/escorrega.png" width="40px">
                            </div>
                            <div class="col-md-3">
                                <img src="imagens/gangorrinha.png" width="40px">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="p-2 field_set_modulo_evento borda_amarela" style="border: 2px;">
                    <legend class="w-auto">Evento id: 562</legend>
                    <div class="row" style="margin-top: -15px;">
                        <div class="col-md-8">Patrícia Souza Duarte</div><div class="col-md-4">23/03/2020</div>
                        <div class="col-md-5">Tel.: (51)993101122</div><div class="col-md-5">Tel recado: (51)991625582</div>
                        <div class="col-md-12">Rua Equador, 165, esq. Av. Brasil, Capão da Canoa - RS</div>
                        <div class="col-md-12 row">
                            <div class="col-md-12">
                                Brinquedos:
                            </div>
                            <div class="col-md-3 texto_icone_brinquedos">
                                <span>Cama Elástica 2,5m</span>
                                <img src="imagens/cama_25.jpg" width="40px">
                            </div>
                            <div class="col-md-3 texto_icone_brinquedos">
                                <span>Tobogã médio</span>
                                <img src="imagens/toboga_sem_fundo_de_lado.png" width="40px">                    
                            </div>
                            <div class="col-md-3 texto_icone_brinquedos">
                                <span>Escorrega</span>
                                <img src="imagens/escorrega.png" width="40px">
                            </div>
                            <div class="col-md-3 texto_icone_brinquedos">
                                <span>Gangorrinha</span>
                                <img src="imagens/gangorrinha.png" width="40px">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>




