<% include partials/cabecalho_cadastro %>

<div id="capa">
    <div id="contraCapa">
            <div class="centralizar" id="divLogo">
                    <img src="/imagens/logo_play_diversao_sem_contato.png" id="imgLogo" class="centralizar">
            </div>
            <div id="divBotao" class="centralizar">
                <a href="/primeiraTela/<%= perfil %>/<%= idEvento %>" id="botao" class="semSublinhado letraAzul">
                    Clique aqui <br>e comece seu cadastro na <br>Play Diversão
                </a>
            </div>
        </div>
    </div>    
</div>    
<% include partials/rodape_cadastro %>