<% include partials/cabecalho_cadastro %>
<div class="container">
    <h1 class="text-center">
        Esse cadastro já venceu ou não foi solicitado
    </h1>
</div>
<% include partials/rodape_cadastro %>