<% include partials/cabecalho %>
<div id="capa">
    <div class="centralizar" id="divLogo">
        <img src="imagens/logo_play_diversao_sem_contato.png" id="imgLogo" class="centralizar">
    </div>
    <div id="divBotao" class="centralizar botaoRedondo">
        <a href="#formPlay" id="botao" class="scrollSuave semSublinhado letraAzul">
            Iniciar<br>Cadastro
        </a>
    </div>
</div>  
<div id="formPlay">
teste
</div>
    
<% include partials/rodape %>