<% include partials/cabecalho %>

  <div id="capa">
    <div id="textoCapa">
        <img id="logo_play" src="imagens/logo_play_diversao_sem_contato.png">
        <div id="mensagemCapa" class="h1">
          Faça aqui o seu cadastro na Play Diversão!
        </div>
        <a href="#formulario" id="botaoCapa" class="scrollSuave botaoRedondo" style="text-decoration: none;">
                      
            <strong>Clique aqui para começar</strong>                       
          
        </a>        
    </div>           
  </div>
  <div class="container" id="formulario">
    <form>
      <label>Nome:</label>
      <input type="text">
    </form>
  </div>  



<% include partials/rodape %>