
<% include partials/cabecalho %>        
        <div class="container">
            <header class="page-header">
                <h1><strong><%= perfil.tituloIndex %></strong></h1>
            </header>
            <div class="row">                                
                <div class="col-md-6">
                    <a href="/inserirCliente">Inserir Cliente</a>
                </div>
                <div class="col-md-6">
                    <a href="/listarCliente">Listar Cliente</a>
                </div>
                <div class="col-md-6">
                    <a href="/inserirBrinquedo">Inserir Brinquedo</a>
                </div>
                <div class="col-md-6">
                    <a href="/listarBrinquedos">Listar Brinquedo</a>
                </div>
                <div class="col-md-6">
                    <a href="/inserirEvento">Inserir Evento</a>
                </div>
                <div class="col-md-6">
                    <a href="/listarEvento">Listar Evento</a>
                </div>
                <div class="col-md-12">
                    <strong><a href="/criarSessaoCliente">Mandar link para o cadastro</a></strong>                  
                </div>
            </div>
        </div>

<% include partials/rodape %>   
