<% include partials/cabecalho %> 
        
            <div class="container">
   		
                <div class="page-header">
                    <h1>Inserir novo cliente</h1>
                </div>
                <form method="post" action="/inserirCliente" name="form-cliente" id="form-inserir-cliente">
                    <div class="row">                        
                                <div class="form-group col-md-6">
                                    <label for="nome_novo_cliente">Nome</label>
                                    <input type="text" class="form-control" required name="nome_novo_cliente" id="nome_novo_cliente">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="email">E-mail</label>
                                    <input type="email_novo_cliente" class="form-control" name="email_novo_cliente" id="email_novo_cliente">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="cpf_novo_cliente">CPF</label>
                                    <input type="text" class="form-control" required name="cpf_novo_cliente" id="cpf_novo_cliente">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="telefone_novo_cliente">Telefone</label>
                                    <input type="text" class="form-control" required name="telefone_novo_cliente" id="telefone_novo_cliente">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="telefone_novo_cliente">Telefone para recado</label>
                                    <input type="text" class="form-control" name="telefone_recado_novo_cliente" id="telefone_recado_novo_cliente">
                                </div>  
                                <div class="form-group col-md-9">
                                    <label for="logradouro_novo_cliente">Endereço</label>
                                    <input type="text" class="form-control" required placeholder="Rua, Avenida, Praça" name="logradouro_novo_cliente" id="logradouro_novo_cliente">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="numero_novo_cliente">Número</label>
                                    <input type="number" class="form-control" required placeholder="Número" name="numero_novo_cliente" id="numero_novo_cliente">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="complemento_novo_cliente">Complemento</label>
                                    <input type="text" class="form-control" placeholder="Complemento" name="complemento_novo_cliente" id="complemento_novo_cliente">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="observacao_endereco_novo_cliente">Observação do endereço</label>
                                    <input type="text" class="form-control" placeholder="Observacao Endereco" name="observacao_endereco_novo_cliente" id="observacao_endereco_novo_cliente">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="bairro_novo_cliente">Bairro</label>
                                    <input type="text" class="form-control" placeholder="Bairro" name="bairro_novo_cliente" id="bairro_novo_cliente">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="cidade_novo_cliente">Cidade</label>
                                    <input type="text" class="form-control" required placeholder="Cidade" name="cidade_novo_cliente" id="cidade_novo_cliente">
                                </div>                        
                                <div class="form-group col-md-12">
                                    <label for="observacao_novo_cliente">Observação sobre o cliente</label>
                                    <input type="text" class="form-control" name="observacao_cliente_novo_cliente" id="observacao_cliente_novo_cliente">
                                </div>
                                <div class="form-group"  style="margin-top: 32px; margin-left: 20px">
                                    <input type="submit" class="btn btn-primary form-control" value="Cadastrar">
                                </div>                                
                            </div>
                        </form>
                    </div>
                    
                    <% if(resposta != undefined){ %>
                        <% if(resposta.status){ %>
                            <input type="text" id="resposta" readonly value="Cliente inserido com sucesso!" style="display: none">
                        <% }else{ %>
                            <input type="text" id="resposta" readonly value="Ocorreu um erro na inserção do cliente!" style="display: none">                           
                        <% } %>
                    <% } %>   
                    <div id="snackbar"></div>                    

        </div> 
    
<% include partials/rodape %> 