<% include partials/cabecalho %>
<div class="container">
    <div class="row form-group">
        <div class="centralizar col-md-12 text-center">
            <h1>
                Copie o link para o cliente:
            </h1>
        </div>
        <div class="centralizar col-md-12">
            <input type="url" id="texto" class="form-control" readonly size="50" value="http://www.solevento.net.br:21045/cadastroPlay/<%= id_evento %>">
        </div>
        <div class="centralizar col-md-12">
            <button id="botaoDeCopia" class="btn btn-primary form-control" type="button">Copiar</button>
        </div>
    </div>
</div>
<% include partials/rodape %>