<% include partials/cabecalho_cadastro %>
        <div id="formPlay">
            <div  class="post container card hidden visible animated bounceInRight">
                <form action="/cadastro/primeiraTela/<%= perfil %>" method="POST" id="form_primeira_tela">
                    <div class="row letraAzul containerFormulario form-group">                    
                        <div class="col-md-12">
                            <h1>Seus dados e contato:</h1>
                        </div>
                        <div class="col-md-6" id="div_nome">
                            <label for="nome"><strong><span class="text-danger">* &nbsp</span>Nome:</strong></label>
                            <input type="text" name="idEvento" value="<%=idEvento%>" style="display: none;">
                            <input type="text" class="form-control" required placeholder="exemplo: José da Silva" name="nome" id="nome" onblur="validaNome(this)">
                            <div class="invalid-feedback"></div>
                        </div>                        
                        <div class="col-md-6" id="div_cpf">
                            <label><strong><span class="text-danger">* &nbsp</span> CPF ou CNPJ(somente números):</strong></label>
                            <input type="text" class="form-control" required name="cpf" id="cpf" onblur="validaCPF(this)">
                            <div class="invalid-feedback"></div>
                        </div>                        
                        <div class="col-md-6" id="div_tel">
                            <label><strong><span class="text-danger">* &nbsp</span> Seu telefone (somente números):</strong></label>
                            <input type="text" class="form-control" placeholder="exemplo: 51991625582" required name="telefone" id="telefone" onblur="validaTelefone(this)">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-md-6" id="div_tel_alternativo">
                            <label><strong>Seu segundo telefone, ou de uma pessoa próxima (somente números):</strong></label>
                            <input type="text" class="form-control" placeholder="exemplo: 51991625582" name="telefoneAltarnativo" id="telefoneAlternativo">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-md-6" id="div_nome">
                            <label><strong>Email:</strong></label>
                            <input type="email" class="form-control" placeholder="exemplo: jose@email.com.br" name="email" id="email">                            
                        </div>
                        <div class="col-md-6 text-danger">
                            <strong>* CAMPOS OBRIGATÓRIOS</strong>                           
                        </div>                                                
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="btn_submit_primeira_tela"><strong>PRÓXIMO >>></strong></button>
                        </div>                    
                    </div>
                </form>
            </div>
        </div>
        <div id="resolucao"></div>        
 <% include partials/rodape_cadastro %>