<% include partials/cabecalho_cadastro %>
        <div id="formPlay">
            <div  class="post hidden visible animated bounceInRight">
                <form action="/primeiraTela" method="POST" class="needs-validation" novalidate>
                    <div class="row letraAzul containerFormulario form-group">                    
                        <div class="col-md-12">
                            <h1>Seus dados e contato:</h1>
                        </div>
                        <div class="col-md-6">
                            <label for="nome"><strong>Nome:</strong></label>
                            <input type="text" class="form-control" required placeholder="exemplo: José da Silva" name="nome" id="nome" onblur="validaNome(this)">
                            <div class="valid-feedback">
                                <img src="/imagens/certo.png"><strong>Certo!</strong>
                            </div>
                            <div class="invalid-feedback">
                                <img src="/imagens/errado.png"><strong>O nome completo precisa ter mais de 2 letras e espaço</strong>                            
                            </div>
                        </div>                        
                        <div class="col-md-6">
                            <label><strong>CPF (somente números):</strong></label>
                            <input type="text" class="form-control" required name="cpf" id="cpf" onblur="validaCPF()">
                            <div class="valid-feedback">
                                <img src="/imagens/certo.png"><strong>Certo!</strong>
                            </div>
                            <div class="invalid-feedback">
                                <img src="/imagens/errado.png"><strong>Por favor insira um CPF válido</strong>                            
                            </div>
                        </div>                        
                        <div class="col-md-6">
                            <label><strong>Seu telefone (somente números):</strong></label>
                            <input type="text" class="form-control" placeholder="exemplo: 51991625582" required name="telefone" id="telefone" onblur="validaTelefone(this)">
                            <div class="valid-feedback">
                                <img src="/imagens/certo.png"><strong>Certo!</strong>
                            </div>
                            <div class="invalid-feedback">
                                <img src="/imagens/errado.png"><strong>Telefones celulares precisam ter 10 digitos e celulares 11</strong>                            
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><strong>Seu segundo telefone, ou de uma pessoa próxima (somente números):</strong></label>
                            <input type="text" class="form-control" placeholder="exemplo: 51991625582" name="telefoneAltarnativo" id="telefoneAlternativo" onblur="validaTelefone(this)">
                            <div class="valid-feedback">
                                <img src="/imagens/certo.png"><strong>Certo!</strong>
                            </div>
                            <div class="invalid-feedback">
                                <img src="/imagens/errado.png"><strong>Telefones celulares precisam ter 10 digitos e celulares 11</strong>                            
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><strong>Email:</strong></label>
                            <input type="email" class="form-control" placeholder="exemplo: jose@email.com.br" name="email" id="email">                            
                        </div>                                                
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Próximo >>></button>
                        </div>                    
                    </div>
                </form>
            </div>
        </div>
        <div id="resolucao"></div>        
 <% include partials/rodape_cadastro %>