<% include partials/cabecalho_cadastro %>
        <div id="formPlay">
            <div id="quartaTela" class="post container card hidden visible animated bounceInRight">
                <div class="row letraAzul containerFormulario form-group">
                    <div>
                        <h1><strong>
                            Muito Obrigado!!!
                        </strong></h1>
                        <h3>
                            <strong>
                                Seus dados foram gravados. Caso o sinal já tenha sido depositado,
                                em pouco tempo você receberá um email informando o agendamento da festa.
                            </strong>
                        </h3>
                        <div style="margin-top: 10%;">
                            <a href=<%= dadosPerfil.site %>><h4><strong>
                                Ir para a página da Play Diversão
                            </strong></h4></a>
                        </div>                        
                    </div>                       
                </div>               
            </div>                      
        </div>     
<% include partials/rodape_cadastro %>