<!DOCTYPE html>
<html lang="pt-br">
<head>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro Play Diversão</title>

<link rel="stylesheet" type="text/css" href="/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/css/demo.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/estilo_cadastro.css" />
<link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>
    <body>
        <div id="formPlay">
            <div id="quintaTela" class="post hidden visible animated bounceInRight">               
                <div class="row letraVermelha containerFormulario form-group">  
                    <h1>Ocorreu um erro na gravação dos seus dados</h1>
                    <h2>Provavelmente o pessoal da Play Diversão está com algum probleminha técnico,
                        então eu peço que entre em contato com eles para que eles deem um outro jeito
                        pra gravar seus dados.
                    </h2>                      
                </div>               
            </div>                      
        </div>   
    </body>
</html>