<!DOCTYPE html>
<html lang="pt-br">
<head>  
<meta charset="utf-8">
<title>Cadastro Play Diversão</title>

<link rel="stylesheet" type="text/css" href="/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/css/demo.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/estilo_cadastro.css" />
<link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>
    <body>
        <div id="formPlay">
            <div id="quintaTela" class="post hidden visible animated bounceInRight">                
                <form action="/quintaTela" method="POST">
                    <div class="row letraAzul containerFormulario form-group">
                        <div>
                            <h1><strong>Qual será a data e a hora da festa?
                            </strong></h1>
                        </div>                       
                        <div class="col-md-6">
                            <label><strong>Data:</strong></label>
                            <input type="date" class="form-control centralizar" name="data" id="data">
                        </div>
                        <div class="col-md-6">
                            <label><strong>Hora:</strong></label>
                            <input type="time" class="form-control centralizar" name="data" id="data">
                        </div>                          
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Próximo >>></button>
                        </div>    
                    </div>                    
                </form>  
            </div>                      
        </div>
    
       
    </body>
</html>