<!DOCTYPE html>
<html lang="pt-br">
    <head>  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro Play Diversão</title>

        <link rel="stylesheet" type="text/css" href="/css/animate.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/estilo_cadastro.css" />
        <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <script src="/js/jquery-3.4.1.js"></script>
        <script src="/js/socket.io.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/funcoesCadastro.js"></script>


    </head>
    <body>
        <div id="formPlay">
            <div id="segundaTela" class="post hidden visible animated bounceInRight">
                <form action="/segundaTela" method="POST">
                    <div class="row letraAzul containerFormulario">
                        <div class="col-md-6" id="avisoJaPossuiCadastro" style="display: none">
                            <h2>
                                Eu verifiquei que você já possui cadastro conosco! Vai ser no mesmo local?
                                Se for, nem precisa preencher novamente.
                            </h2>
                        </div>
                        <div  class="col-md-6">
                            <div>
                                <h1>Qual o seu endereço?</h1>
                            </div>
                            <div class="form-group">
                                <label><strong>Nome da rua onde mora:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Rua Mal. Floriano" name="logradouro" id="logradouro" onblur="validaNome(this)">
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>Precisa ter mais de 2 letras e espaço</strong>                            
                                </div>
                            </div>
                            <div class="form-group">
                                <label><strong>Número de sua casa:</strong></label>
                                <input type="number" class="form-control centralizar" name="numero" id="numero" size="5" onblur="validaNumero(this)">
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>Insira o número de sua casa</strong>                            
                                </div>
                            </div>
                            <div class="form-group">
                                <label><strong>Complemento:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Ap. 5 ou esq. Av. Ceará" name="complemento" id="complemento">
                            </div>
                            <div class="form-group">
                                <label><strong>Bairro:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Jardim Perdizes" name="bairro" id="bairro" onblur="validaNome(this)">
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>O Bairro precisa ter mais de 2 letras</strong>                            
                                </div>
                            </div>
                             <div class="form-group">
                                <label><strong>Cidade:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Capão da Canoa" name="cidade" id="cidade" onblur="validaNome(this)">
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>A cidade precisa ter mais de 2 letras</strong>                            
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h1>Onde será sua festa?</h1>                        
                                <strong>Caso seja na sua casa mesmo, aperte em copiar</strong><br>
                                <button type="button" class="btn btn-primary form-group" id="copiarEndereco">Copiar</button>
                            </div>                       
                            
                            <div class="form-group">
                                <label><strong>Nome da rua da festa:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Rua Mal. Floriano" name="logradouroFesta" id="logradouroFesta">
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>O nome completo precisa ter mais de 2 letras e espaço</strong>                            
                                </div>
                            </div>
                            <div class="form-group">
                                <label><strong>Número do local da festa:</strong></label>
                                <input type="number" class="form-control centralizar" name="numeroFesta" id="numeroFesta" size="5">
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>Insira o número de sua casa</strong>                            
                                </div>
                            </div>
                            <div class="form-group">
                                <label><strong>Complemento:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Ap. 5 ou esq. Av. Ceará" name="complementoFesta" id="complementoFesta">
                            </div>
                            <div class="form-group">
                                <label><strong>Bairro da Festa:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Jardim Perdizes" name="bairroFesta" id="bairroFesta">
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>O Bairro precisa ter mais de 2 letras</strong>                            
                                </div>
                            </div>
                            <div class="form-group">
                                <label><strong>Cidade da Festa:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Capão da Canoa" name="cidadeFesta" id="cidadeFesta">
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>A cidade precisa ter mais de 2 letras</strong>                            
                                </div>
                            </div>                                       
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Próximo >>></button>
                            </div>    
                        </div>                   
                    </div>                    
                </form>  
            </div>                      
        </div>       
    </body>
</html>