<% include partials/cabecalho_cadastro %>
        <div id="formPlay">
            <div id="segundaTela" class="post  container card hidden visible animated bounceInRight">
                <form action="/cadastro/segundaTela/<%= perfil %>" method="POST" class="needs-validation" id="form_segunda_tela">
                    <div class="row letraAzul containerFormulario">
                        <div class="col-md-6" id="avisoJaPossuiCadastro" style="display: none">
                            <h2>
                                Eu verifiquei que você já possui cadastro conosco! Vai ser no mesmo local?
                                Se for, nem precisa preencher novamente.
                            </h2>
                        </div>
                        <div  class="col-md-6">
                            <div>
                                <h1>Qual o seu endereço?</h1>
                            </div>
                            <div class="form-group" id="div_logradouro_cliente">
                                <label><strong class="text-danger">* &nbsp;</strong><strong>Nome da rua onde mora:</strong></label>
                                <input type="text" name="idEvento" value="<%=idEvento%>" style="display: none;">
                                <input type="text" class="form-control" required placeholder="exemplo: Rua Mal. Floriano" name="logradouro" id="logradouro" onblur="validaRuaOuBairro(this)">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group" id="div_numero_cliente">
                                <label><strong class="text-danger">* &nbsp;</strong><strong>Número de sua casa:</strong></label>
                                <input type="number" required class="form-control centralizar" name="numero" id="numero" size="5" onblur="validaNumero(this)">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label><strong>Complemento:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Ap. 5 ou esq. Av. Ceará" name="complemento" id="complemento">
                            </div>
                            <div class="form-group"  id="div_bairro_cliente">
                                <label><strong class="text-danger">* &nbsp;</strong><strong>Bairro:</strong></label>
                                <input type="text" class="form-control" required placeholder="exemplo: Jardim Perdizes" name="bairro" id="bairro" onblur="validaRuaOuBairro(this)">
                                <div class="invalid-feedback"></div>
                            </div>
                             <div class="form-group" id="div_cidade_cliente">
                                <label><strong class="text-danger">* &nbsp;</strong><strong>Cidade:</strong></label>
                                <input type="text" class="form-control" required placeholder="exemplo: Capão da Canoa" name="cidade" id="cidade" onblur="validaRuaOuBairro(this)">
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h1>Onde será sua festa?</h1>                        
                                <button type="button" class="btn btn-primary form-group" id="copiarEndereco">Será na minha casa mesmo</button>
                            </div>                       
                            
                            <div class="form-group" id="div_logradouro_evento">
                                <label><strong class="text-danger">* &nbsp;</strong><strong>Nome da rua da festa:</strong></label>
                                <input type="text" class="form-control" required placeholder="exemplo: Rua Mal. Floriano" name="logradouroFesta" id="logradouroFesta" onblur="validaRuaOuBairro(this)">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group" id="div_numero_evento">
                                <label><strong class="text-danger">* &nbsp;</strong><strong>Número do local da festa:</strong></label>
                                <input type="number" required class="form-control centralizar" name="numeroFesta" id="numeroFesta" size="5" onblur="validaNumero(this)">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label><strong>Complemento:</strong></label>
                                <input type="text" class="form-control" placeholder="exemplo: Ap. 5 ou esq. Av. Ceará" name="complementoFesta" id="complementoFesta">
                            </div>
                            <div class="form-group" id="div_bairro_evento">
                                <label><strong class="text-danger">* &nbsp;</strong><strong>Bairro da Festa:</strong></label>
                                <input type="text" class="form-control" required placeholder="exemplo: Jardim Perdizes" name="bairroFesta" id="bairroFesta"  onblur="validaRuaOuBairro(this)">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group" id="div_cidade_evento">
                                <label><strong class="text-danger">* &nbsp;</strong><strong>Cidade da Festa:</strong></label>
                                <input type="text" class="form-control" required placeholder="exemplo: Capão da Canoa" name="cidadeFesta" id="cidadeFesta"  onblur="validaRuaOuBairro(this)">
                                <div class="invalid-feedback"></div>
                            </div>
                            <div>
                                <strong class="text-danger">* CAMPOS OBRIGATÓRIOS</strong>
                            </div>  
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="button" class="btn btn-primary" id="btn_submit_segunda_tela">Próximo >>></button>
                        </div>                   
                    </div>                    
                </form>  
            </div>                      
        </div>       
<% include partials/rodape_cadastro %>