<!DOCTYPE html>
<html lang="pt-br">
<head>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro Play Diversão</title>

<link rel="stylesheet" type="text/css" href="/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/css/demo.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/estilo_cadastro.css" />
<link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>
    <body>
        <div id="formPlay">
            <div id="setimaTela" class="post hidden visible animated bounceInRight">
                                 
            </div>                      
        </div>
    </body>
</html>