<!DOCTYPE html>
<html lang="pt-br">
<head>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastro Play Diversão</title>

<link rel="stylesheet" type="text/css" href="/css/animate.css" />
<link rel="stylesheet" type="text/css" href="/css/demo.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/estilo_cadastro.css" />
<link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>
    <body>
        <div id="formPlay">
            <div id="telaErro" class="post hidden visible animated bounceInRight">               
                <div class="row containerFormulario form-group">  
                    <h1 class="letraVermelha"><strong>Ocorreu algum errinho na gravação dos seus dados</strong></h1>
                    <h3 class="letraAzul"><strong>Provavelmente o pessoal da Play Diversão está com algum probleminha técnico,
                            então eu peço que entre em contato com eles para que eles deem um outro jeito
                            pra gravar seus dados.</strong>
                    </h3>
                    <div style="margin-top: 10%;">
                        <a href="http://www.playdiversao.com/litoral"><h4><strong>
                            Ir para a página da Play Diversão
                        </strong></h4></a>
                    </div>                      
                </div>               
            </div>                      
        </div>   
    </body>
</html>