<% include partials/cabecalho_cadastro %>
        <div id="formPlay">
            <div id="terceiraTela" class="post hidden visible animated bounceInRight">
                <form action="/cadastro/terceiraTela/<%= perfil %>" method="POST" class="needs-validation" novalidate>
                    <div class="row letraAzul containerFormulario form-group">
                        <div class="col-md-12 row">
                            <div class="col-md-12">
                                <h1><strong>Qual será a data e a hora da festa?
                                </strong></h1>
                            </div>                       
                            <div class="col-md-6">
                                <label><strong>Data:</strong></label>
                                <input type="text" style="display: none" name="idEvento" value="<%=idEvento%>">
                                <input type="date" required class="form-control centralizar" name="data" id="data" onblur="validaNumero(this)">
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>Insira uma data válida</strong>                            
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label><strong>Hora:</strong></label>
                                <input type="time" required class="form-control centralizar" name="hora" id="hora" onblur="validaNumero(this)">
                                <div class="valid-feedback">
                                        <img src="/imagens/certo.png"><strong>Certo!</strong>
                                </div>
                                <div class="invalid-feedback">
                                        <img src="/imagens/errado.png"><strong>Insira um horário válido</strong>                            
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" id="containerContrato">
                            <h3><strong>Agora preciso que leia com atenção os termos de nossos serviços,
                                em caso de qualquer dúvida, não hesite em perguntar.
                            </strong></h3>
                            <div id="contrato">
                                    <p>
                                            <strong>Contrato de locação de brinquedos:</strong><br>
                                            <br>
                                            DO OBJETIVO DO CONTRATO
                                            <br><br>
                                            Cláusula 1ª. O presente contrato tem como OBJETIVO a locação brinquedos  de propriedade de Play Diversão (razão social <%= dadosPerfil.razaoSocial %>).<br>
                                            Parágrafo único: É de responsabilidade do locatário, prover local adequado para disposição dos brinquedos, de forma que não haja impedimento de sua utilização mesmo em caso de mal tempo (chuvas, ventanias, temporais).
                                            <br><br>
                                            DO USO
                                            <br><br>
                                            Cláusula 2ª. Os Brinquedos, objeto deste contrato, serão utilizados para um evento que o LOCATÁRIO está organizando.<br>
                                            Cláusula 3ª. Os Brinquedos são exclusivamente para utilização que respeite suas características, limitações de uso e exceções descritas no anexo 01.
                                            <br><br>
                                            DA MONITORIA
                                            <br><br>
                                            Cláusula 4ª. É oferecido por parte do LOCADOR ao LOCATÁRIO a opção de acompanhamento da utilização dos brinquedos, mediante valor pré-estabelecido, por parte de monitor(es) contratado(s) pelo locador que terá total autonomia durante o evento sendo que o locatário não terá ingerência sobre suas decisões.<br>
                                            Caso o LOCATÁRIO opte por não ter o acompanhamento de monitor(es), este se responsabiliza totalmente pela perfeita utilização e conservação dos brinquedos locados, segurança dos usuários, bem como o ressarcimento financeiro causado por danos aos brinquedos.
                                            <br><br>
                                            VALOR DO ALUGUEL
                                            <br><br>
                                            Cláusula 5ª. O locatário pagará pelo aluguel do objeto no valor estipulado durante as negociações realizadas entre locador e locatário.
                                            <br><br>
                                            Cláusula 6ª. O aluguel deverá ser pago  integralmente até o ato da instalação dos brinquedos no local onde será realizado o evento.
                                            <br><br>
                                            DO PRAZO
                                            <br><br>
                                            Cláusula 7ª. A presente locação terá o lapso temporal de 8 horas, sendo que ao término desse período os objetos deverão ser devolvidos.<br>
                                            Parágrafo único: em caso de acompanhamento da locação por monitor(es), o tempo de locação será de 4 horas. A(s) hora(s) excedente desse prazo será(ão) cobrada(s) a parte proporcionalmente ao valor da locação.
                                            <br><br>
                                            Cláusula 8ª. Se o LOCATÁRIO não restituir o objeto, deverá pagar em quanto detiver em seu poder, o aluguel que o LOCADOR arbitrar e responderá pelos danos materiais e morais, bem como o lucro cessante do LOCADOR, mesmo se proveniente de caso fortuito.
                                            <br><br>
                                            DA ISENÇÃO SOBRE OS DANOS SOFRIDOS<br><br>
                                            Cláusula 9ª. O LOCADOR  se exime de qualquer responsabilidade sobre acidentes sofridos dentro dos brinquedos, não havendo obrigação deste em reparar qualquer dano físico ou material sofrido durante o uso dos objetos. O LOCATÁRIO fica ciente da necessidade de acompanhamento das crianças durante todo o tempo em que estiverem utilizando os brinquedos e observando as normas de utilização dos mesmos descritas no anexo 01.
                                            <br><br>
                                            DA CONSERVAÇÃO DOS EQUIPAMENTOS<br><br>
                                            Cláusula 10ª. O LOCADOR disponibilizará equipamentos em perfeitas condições de uso. Qualquer problema que o mesmo localizar após o uso dos equipamentos que impeçam a sua perfeita utilização ou apresentem risco aos usuários e que não havia antes desta locação será cobrado no ato do LOCATÁRIO. Se preferir, solicite uma vistoria nos equipamentos no momento da instalação para prevenir futuros problemas.
                                            <br><br>
                                            DA RESCISÃO<br><br>
                                            Cláusula 11ª. Em caso de danos causados nos objetos deste contrato, será cobrado multa constante na LISTA01 que se encontra anexo, calculada no valor de reposição de cada item danificado. Caso o objeto do contrato não seja devolvido no prazo combinado entre as partes, o LOCATÁRIO restituirá o LOCADOR no valor integral do aluguel do objeto acrescido de mais 50% (cinquenta por cento) deste valor como despesas de deslocamento e tempo.<br>                                                                                                                        
                                            Cláusula 12ª. Em caso de cancelamento do evento, o LOCATÁRIO perderá o valor pago à título de reserva da data.<br>
                                            Cláusula 13ª. O não pagamento do valor cobrado a título de reserva da data num prazo de 2 dias a partir da solicitação do valor cancela automaticamente o evento e libera os brinquedos escolhidos para uma outra locação.
                                            <br><br>
                                            DO FORO<br><br>
                                            Cláusula 14ª. Para dirimir quaisquer controvérsias oriundas do CONTRATO, as partes elegem o foro da comarca de <%= dadosPerfil.cidade %>.
                                            <br><br>
                                            RECOMENDAÇÕES DE SEGURANÇA E DA UTILIZAÇÃO DOS BRINQUEDOS<br><br>
                                            TODAS AS CAMAS ELÁSTICAS:
                                            -Não mover a cama elástica do local instalado;<br>
                                            -Não permitir mais de duas crianças ao mesmo tempo na lona de salto;<br>
                                            -Evitar crianças de idades/tamanhos diferentes em cima da lona de salto;<br>
                                            -Não pisar sobre o protetor de molas (borda colorida) e não saltar sobre ele;<br>
                                            -Evitar pendurar-se na tela de proteção;<br>
                                            -Utilizar a escada para subir ou descer do equipamento;<br>
                                            -Não realizar "saltos mortais", esses devem ser feitos apenas por pessoas treinadas sob risco de queda sobre o pescoço;<br>
                                            -Evitar ingerir bebidas e alimentos sobre o equipamento sob risco de cortes na boca.<br>
                                            -Interromper a utilização do brinquedo quando por ventura um dos usuário sentar ou deitar sobre a lona de salto, sob o risco de um segundo utilizador provocar lesões ou até fraturas nos membros do usuário que sentou ou deitou. 
                                            CAMA ELÁSTICA DE 3m DE DIÂMETRO<br>
                                            Peso Suportado: Até 120kg<br>
                                            CAMA ELÁSTICA DE 2,5m DE DIÂMETRO<br>
                                            Peso Suportado: Até 90kg<br>
                                            INFLÁVEL CASTELINHO PULA-PULA<br>
                                            Peso suportado: Até 100 kg com limite de 5 crianças ao mesmo tempo no brinquedo.<br>
                                            -Idade máxima 12 anos;<br>
                                            -Utilizar a abertura lateral ou frontal para entrar no brinquedo e para sair o escorregador traseiro;<br>
                                            -Evitar forçar para baixo as estruturas superiores do inflável;<br>
                                            -Não se jogar contra as telas de proteção;<br>
                                            -Não arremessar objetos contra o inflável;<br>
                                            -Não saltar do escorregador para baixo – Apenas deslizar;<br>
                                            -Não entrar com outros brinquedos ou calçados dentro do inflável - risco de corte;<br>
                                            -Acompanhar as crianças enquanto escorregam no escorregador para evitar quedas do mesmo;<br>
                                            -Não ingerir bebidas ou alimentos no interior do brinquedo;<br>
                                            -Evitar puxar ou arrastar o inflável, cuidando sempre com objetos cortantes em volta;<br>
                                            -Evitar que a mangueira da turbina de ar fique dobrada, ocasionando o esvaziamento do inflável;<br>
                                            -Não obstruir a entrada de ar da turbina e evitar que as crianças fiquem próximas a mesma.<br>
                                            INFLÁVEL TOBOGÃ <br>
                                            Peso suportado: Até 100 kg com limite de 4 crianças ao mesmo tempo no brinquedo.<br>
                                            -Idade máxima 12 anos;<br>
                                            -Utilizar a escada frontal da rampa para subir;<br>
                                            -Evitar sentar sobre a tela de proteção no patamar da rampa;<br>
                                            -Não se jogar contra as telas de proteção;<br>
                                            -Não arremessar objetos contra o inflável;<br>
                                            -Não entrar com outros brinquedos ou calçados dentro do inflável - risco de corte;<br>
                                            -Acompanhar as crianças enquanto escorregam no escorregador para evitar quedas do mesmo;<br>
                                            -Não saltar de cima da rampa para baixo – a criança pode quicar e cair no chão;<br>
                                            -Não ingerir bebidas ou alimentos no interior do brinquedo;<br>
                                            -Evitar puxar ou arrastar o inflável, cuidando sempre com objetos cortantes em volta;<br>
                                            -Evitar que a mangueira da turbina de ar fique dobrada, ocasionando o esvaziamento do inflável;<br>
                                            -Não obstruir a entrada de ar da turbina e evitar que as crianças fiquem próximas a mesma.<br>
                                            -Permitido para crianças até 8 anos de idade;<br>
                                            -Não entrar com outros brinquedos ou objetos – risco de perdê-los no interior do brinquedo;<br>
                                            -Não consumir alimentos e bebidas no interior do brinquedo;<br>
                                            -Evitar pôr na boca as bolinhas coloridas;<br>
                                            -Proteger o equipamento em caso de chuva;<br>
                                            -Não retirar a tela de proteção lateral ou o telhado do brinquedo;<br>
                                            -Não retirar as bolinhas de dentro do brinquedo.<br>
                                            MESA DE AIR HOKEY<br>
                                            -Não utilizar o brinquedo sem o mesmo estar ligado na tomada;<br>
                                            -Não apoiar copos, garrafas ou alimentos sobre a mesa;<br>
                                            -Não sentar sobre a mesa e nem apoiar crianças pequenas em cima;<br>
                                            -Limpar o feltro inferior verde dos punhos de jogo afim de evitar arranhar a mesa;<br>
                                            -Não molhar a mesa sobre hipótese alguma – chuva, serração, jatos de água, refrigerantes;<br>
                                            -Não quebrar os punhos ou disco de jogo – Acompanha 1 kit de jogo (2 punhos e 1 disco);<br>
                                            MESA DE PEBOLIM<br>
                                            -Não apoiar copos, garrafas ou alimentos sobre a mesa;<br>
                                            -Não sentar sobre a mesa e nem apoiar crianças pequenas em cima;<br>
                                            -Limpar a bolinha caso a mesa caia no chão;<br>
                                            -Não molhar a mesa sobre hipótese alguma – chuva, serração, jatos de água, refrigerantes;<br>
                                            -Este equipamento acompanha 1 bolinha de jogo – não perca;<br>
                                            <br>
                                            LISTA 01 – valores de reposição<br>
                                            Cama elástica <br>
                                            Protetor de Molas – R$ 280,00<br>
                                            Rede de Proteção – R$ 150,00<br>
                                            Lona de Salto – R$ 450,00<br>
                                            Isotubo – R$ 15,00<br>
                                            Piscina de Bolinhas<br>
                                            Telhado de lona – R$ 200,00<br>
                                            Rede de proteção – R$ 150,00<br>
                                            Lateral de Madeira – R$ 150,00<br>
                                            Eva do Fundo – R$ 100,00<br>
                                            Infláveis<br>
                                            Motor Compressor/Turbina – R$ 900,00<br>
                                            Extensão elétrica – R$ 80,00<br>
                                            Conserto de Lona do Inflável – R$ 200,00 (por rasgo/furo)<br>
                                            Mesa de AirHokey<br>
                                            Disco de jogo – R$ 20,00<br>
                                            Punho – R$ 20,00<br>
                                            Mesa – R$ 600,00<br>
                                            Mesa de Pebolim<br>
                                            Bolinha – R$ 25,00<br>
                                            Jogador – R$ 30,00<br>
                                            Punhos de borracha – R$ 15,00<br>
                                            Mesa Completa – R$ 900,00<br>
                                            Gangorra<br>
                                            Substituição – R$ 190,00<br>
                                            Escorrega<br>
                                            Substituição – R$ 350,00<br>
                                    </p>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" required class="form-check-input" id="checkContrato" onchange="validaCheck(this)">
                                <label>Concordo</label>
                                <div class="valid-feedback">
                                    <img src="/imagens/certo.png"><strong>Obrigado!</strong>
                                </div>
                                <div class="invalid-feedback">
                                    <img src="/imagens/errado.png"><strong>Preciso que aceite os nossos termos<br>
                                    Sem isso não temos como locar os brinquedos para o seu evento.</strong>                            
                                </div>
                            </div>
                        </div>                                         
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Terminar</button>
                        </div>            
                    </div>                    
                </form>  
            </div>                      
        </div>    
<% include partials/rodape_cadastro %>