.marcador{
	background: #fe9d9d;
	border:1px solid #f94646;
}

.marcador2{
	background: #5bf946;
	border:1px solid #36ae26;
}

.telaInicio{
	background-image: url("../imagens/piscina_de_bolinhas.jpg");
	background-repeat: no-repeat;
	background-size: 100vw;
	height: 100vw;
}

.botaoRedondo{
	border-radius: 10px;
	background-color: rgb(255, 165, 0, 0.5);
	color: white;
	padding:10px;
}
.centralizar{
	margin-left: 100px;
	margin-right: auto;
	text-align: center;
	padding-top: 2%;
}

.centralizarNaDiv{
	padding-left: auto;
	padding-right: auto;
}

/* TIPOGRAFIA */
.textoGrande{	
	font-size: 80px;
}

.textoMedio{
	font-size:40px;
}

.textoBranco{
	color: white;
}