.marcador{
	background: #fe9d9d;
	border:1px solid #f94646;
}

.marcador2{
	background: #5bf946;
	border:1px solid #36ae26;
}

.centralizar{
	margin-right: auto;
	margin-left: auto;
	width: max-content;
}

#botaoDeCopia{
	margin-top: 15px;
	width: 100px;
}

